.banner {
  padding: 10px;
  background-color: rgba(219, 189, 153, 0.16);
  text-align: center;
}

.banner h1 {
  font-size: 28px;
  margin: 0;
  letter-spacing: 3px;
  font-style: italic;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

h1 {
  text-align: center;
  padding: 10px;
}

input {
  width: 100%;
  display: block;
}

#container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(219, 189, 153, 0.16);
}

.form-box {
  display: block;
  padding: 10px;
  margin: 0;
}

label {
  padding: 80px;
  margin: 10px;
  font-size: 16px;
  font-weight: 900;
  color: #bba598;
  margin: 10px 0 0;
}

.data {
  display: block;
  padding: 10px;
  text-align: center;
  margin: 0;
}

.data p {
  display: block;
  padding: 5px;
  font-size: 16px;
  font-weight: 900;
  color: #bba598;
  margin: 10px 0 0;
}

button {
  padding: 5px;
  cursor: pointer;
}

.data a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: #bba598;
  margin: 10px 0 0;
}

.data a:hover {
  color: rgb(99, 168, 99);
}

input,
textarea {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-size: 15px;
  width: 100%;
  padding-bottom: 20px;
}

textarea {
  height: 100px;
}

input.submit {
  height: 40px;
  text-align: center;
  padding-bottom: 0px;
  background-color: white;
  color: #bba598;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 900;
}

input.submit:hover {
  background-color: #bba598;
  color: white;
  border: 1px solid #bba598;
  cursor: pointer;
}
