.banner {
  padding: 30px;
  background-color: rgba(219, 189, 153, 0.16);
  text-align: center;
}

.banner h1 {
  font-size: 28px;
  margin: 0;
  letter-spacing: 5px;
}

.banner p {
  font-size: 16px;
  margin: 15px auto 0px;
  word-spacing: 2px;
  width: 80%;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs .btn {
  width: 33.333%;
  border: none;
  background-color: #bba598;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  padding: 20px;
  cursor: pointer;
  letter-spacing: 5px;
}

.tabs .btn:focus {
  outline: none;
}

.tabs .btn.active {
  background-color: #91b37f;
  color: white;
  transition: 0.3s;
}

/* medium */

@media (min-width: 500px) and (max-width: 799px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  .gallery img {
    max-width: 48%;
  }
}
/* large */

@media (min-width: 800px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    max-width: 31%;
    padding: 10px;
  }
}
