.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgba(219, 189, 153, 0.16);

   
}

h1{
    text-align: center;
    padding: 10px;
}

input{
    width: 100%;
    display: block;

}
