h1{
    display: inline;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

h1:hover{
    color: #91ac63;
}

.category{
    display: block;
    text-align: center;
}

hr{
    height: 10px;
    background-color: rgba(219, 189, 153, 0.16);
    border: 0px;
    margin: 5px;
   }
p{
    text-align: center;
}

/* medium */

@media (min-width: 500px) and (max-width: 799px){

    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    
    }
    
    .gallery img{
        max-width: 48%;
    }
}
/* large */

@media (min-width: 800px){

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery img{
        max-width: 31%;
        padding: 10px;
        
    }
}