.menu{
    width: 100%;
}

/* menu base styles */

nav{
    background-color: rgba(219, 189, 153, 0.16);
}

nav ul{
    list-style-type: none;

}

nav a{
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}

nav a:hover{
    background-color: chocolate;
}

nav li{
    margin: 10px;
}
/* flex styles */

nav ul{
        display: flex;
        justify-content: flex-start;
    }

nav{
    display: flex;
    justify-content: space-between;
}   
