*{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}



/* menu base styles */

nav{
    background-color: rgba(219, 189, 153, 0.16);
    border-radius: 30px;
}

nav ul{
    list-style-type: none;

}

nav a{
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}

nav a:hover{
    color: #91ac63;
}

nav li{
    margin: 10px;
}


/* flex styles */

nav ul{
        display: flex;
        justify-content: flex-start;
    }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

/* logo and hello styles */
header{
    text-align: center;
}
header img{
    max-width: 500px;
}

/* footer style */

footer{
        background-color: rgba(219, 189, 153, 0.16);
        text-align: center;
    }

/* grid style */

#makeup{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
}

#makeup h2{
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

#makeup img{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}