*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    max-width: 600px;
}


/* menu base styles */

.menu{
    background-color: rgba(219, 189, 153, 0.16);
}

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.menu a{
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 20px;
}

.menu a:hover{
    color: #91ac63;
}

header{
    text-align: center;
    font-style: italic;
}

/* grid style */

main{
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgba(219, 189, 153, 0.16);
    text-align: center;
}