*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}

.logo{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* menu styles */

.menu{
    background-color: rgba(219, 189, 153, 0.16);
}

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu a{
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 20px;
}

.menu a:hover{
    color: #91ac63;
}
.category{
    display: block;
    text-align: center;
}
h1{
    display: inline;
    font-size: 15px;
    padding: 10px;
}
hr{
    height: 10px;
    background-color: rgba(219, 189, 153, 0.16);
    border: 0px;
    margin: 5px;

}
p{
    text-align: center;
}

/* footer style */

footer{
    background-color: rgba(219, 189, 153, 0.16);
    margin: 15px 0 0;
}

.fb{
    text-align: center;
    padding: 5px;
}
.fb:hover{
    background-color: #3b5998;
}
.instagram{
    text-align: center;
    padding: 5px;

}
.instagram:hover{
    background-color: #fb3958;
}

footer p{
    text-align: center;
    padding: 5px;
}
/* medium */

@media (min-width: 500px) and (max-width: 799px){

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.gallery img{
    max-width: 48%;
}
















}