*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

.menu{
    background-color: rgba(219, 189, 153, 0.16);
}

.menu a{
    text-decoration: none;

}

/* mobile */

@media (max-width: 499px){

nav{
    display: flexbox;
}
















}