
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */